/.idea

.ipynb_checkpoints
__pycache__
/datasets/*
!datasets/placeholder.txt
/results/*
!results/placeholder.txt
/only_local
Untitled5.ipynb
*.mat
*.fig
*.tif
*.jpg
*.txt
*.json
liteloc_model_cpu.pth
liteloc_model_cuda.pth
*.ipynb
