-f https://download.pytorch.org/whl/torch_stable.htmltorch==2.2.2+cu121torchaudio==2.2.2+cu121torchvision==0.17.2+cu121natsort==8.4.0omegaconf==2.3.0PyYAML==5.4.1RecursiveNamespace==0.2.2thop==0.1.1.post2209072238tifffile==2023.7.10numpy==1.24.4tqdmDeprecatedh5pyhdfdictmatplotlibpandasscipyscikit-imagedotted-dict