Deprecated==1.2.13dotted_dict==1.1.3h5py==3.7.0hdfdict==0.3.1matplotlib==3.5.1napari==0.5.6natsort==8.4.0numpy==1.24.4omegaconf==2.3.0pandas==1.4.1PyYAML==5.4.1RecursiveNamespace==0.2.2scipy==1.13.1scikit-image==0.24.0thop==0.1.1.post2209072238tifffile==2023.7.10torch==2.2.2+cu121torchaudio==2.2.2+cu121torchvision==0.17.2+cu121-f https://download.pytorch.org/whl/torch_stable.htmltqdm==4.66.2